@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  html,
  body,
  #__next {
    @apply w-full;
  }
}

.input-normal {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primaryClick focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 shadow-sm hover:shadow-md focus:shadow-md transition-shadow duration-300 ease-in-out;
}

.input-error {
  @apply bg-red-50 border border-red-300 text-red-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-700 dark:border-red-600 dark:placeholder-red-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500;
}

.primary-btn {
  @apply text-white w-full rounded-xl font-semibold text-xl bg-primary border-2 border-primary py-2 hover:bg-primaryClick active:bg-primaryActive;
}

.secondary-btn {
  @apply text-primary w-full rounded-xl font-light text-lg bg-white border-2 border-primary py-2 hover:text-white hover:bg-primary active:bg-primaryClick;
}

input {
  outline: none;
}

input:checked + label {
  border-color: black;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
label:has(input:checked) {
  border-color: black;
  border: 2px solid rgb(255, 110, 57);
  box-shadow: 0 10px 15px -3px rgb(255, 110, 57, 0.7),
    0 4px 6px -2px rgb(251, 80, 18, 0.6);
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}
